.Form {
    width: 320px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 51px;
    padding-right: 51px;
    padding-top: 37px;
    padding-bottom: 37px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

    img {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 11px;
        font-size: 10px;
        color: #828282;
    }
    
    .label-purple {
        @extend label;
    
        color: #6C41D7;
        font-weight: bolder;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 12px;
        margin-bottom: 30px;
    }
}

.input-field {

    margin-bottom: 14px;

    label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 11px;
        font-size: 10px;
        color: #828282;
        display: block;
    }

    input {
        margin-top: 5px;
        background: #FFFFFF;
        border: 1px solid #BFBFBF;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
        height: 25px;
        width: 100%;
    }
}

.password-check {

    .rectangles {
        display: block;

        .rectangle {
            background: #EDEDED;
            width: 32%;
            margin-right: 2%;
            margin-left: 0;
            float: left;
            height: 6px;
        }
    
        .last-rectangle {
            @extend .rectangle;
            
            margin-right: 0px;
        }

        .rec-orange {
            background: #F26722;
        }

        .rec-yellow {
            background: #F2B822;
        }

        .rec-green {
            background: #1ED699;
        }
    }

    ul
    {
        list-style: none;
        display: inline-block;
        margin-top: 0px;
        margin-left: -40px;
        
        li {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            line-height: 11px;
            font-size: 10px;
            color: #828282;
        }

        li::before {
            content: "• ";
            font-size: 20px;
        }

        li.item-true::before {
            color: #54ff67;
        }

        li.item-false::before {
            color: #F26722;
        }
    }
}

button {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;

    color: #FFFFFF;
    background: #6C41D7;
    width: 100%;
    height: 33px;

    border-style: none;
}